* {
  text-align: center;
  font-family: Montserrat;
  margin-block: 0;
}

.title {
  margin-top: 20px;

  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.cta {
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}