.container {
  display: flex;
  height: 50px;
}

.column1 {
  background-color: lightcoral;
  width: 100px;
}

.column2 {
  background-color: lightblue;
  width: 200px;
  /* display: flex;
  flex-direction: column; */
}

.row2 {
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: black;
  color: white;
}