input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 16px;
  font-size: 16px;
  margin-bottom: 12px;
}

.first {
  width: 131px;
}

.last {
  width: 131px;
}

.email {
  display: block;
  width: 300px;
}

button {
  width: 334px;
  padding-block: 13px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(47, 127, 231);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
