* {
  font-family: Arial;
}

p {
  font-size: 40px;
  margin-bottom: 25px;
}

input {
  display: block;
  border: none;
  padding-block: 15px;
  padding-inline: 20px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  font-size: 16px;
  width: 400px;
}

.destination {
  margin-bottom: 35px;
}

button {
  border: none;
  padding-block: 15px;
  padding-inline: 25px;
  font-size: 16px;
}

.request {
  background-color: black;
  color: white;
  margin-right: 20px;
}

.schedule {
  background-color: rgb(240, 240, 240);
}
