.btstrp-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.15s, color 0.15s;
}

.btstrp-btn.get {
  background-color: rgb(121, 82, 179);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 6px;
}

.btstrp-btn.get:hover {
  background-color: rgb(103, 68, 152);
}

.btstrp-btn.down {
  background-color: white;
  color: rgb(108, 117, 125);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(108, 117, 125);
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.btstrp-btn.down:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
