.lnkd-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  transition: background-color 0.15s;
}

.lnkd-btn.apply {
  background-color: rgb(10, 102, 194);
  color: white;
  margin-right: 8px;
}

.lnkd-btn.apply:hover {
  background-color: rgb(6, 63, 120);
}

.lnkd-btn.save {
  background-color: white;
  color: rgb(10, 102, 194);
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  border-style: solid;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 23px;
  padding-right: 23px;
}

.lnkd-btn.save:hover {
  background-color: rgba(10, 102, 194, 0.15);
  border-width: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 22px;
  padding-right: 22px;
}
